.section {
  background-color: hsl(0, 0%, 100%);
  margin: 10px;
  box-shadow: 1px 1px rgb(185, 183, 183);
}

.section__header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-gap: 20px;

  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.section__title {
  padding: 10px;
  margin: 0;
}

@media (max-width: 767px) {
  .section__header {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
