.section {
    background-color: hsl(0, 0%, 100%);
    border: none;
    display: grid;
    margin: 10px 0px;
    box-shadow: 5px rgb(185, 183, 183);
}

.section__header {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
}



.section__body {
    padding: 20px;
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr auto;
    
};

@media (max-width: 767px){
.section__header {
    gap: 10px;
    grid-template-columns: 1fr;
}};