.section__form {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__header {
    border: none;
    display: flex;

}

.section__addTaskButton {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    transition: 1s;
    flex-basis: 100%;
}

.section__addTaskButton:hover {
    background-color: rgb(98, 154, 154);
    transform: scale(1.15);
}

.section__input {
    padding: 10px;
    border: 1px solid #ddd;
}

@media (max-width: 897px) {
    .section__form {
        grid-template-columns: 1fr;
    }};
