



.tasks__button-toggleDone {
  background-color: green;
  border-style: none;
  color: white;
  width: 30px;
  height: 30px;
  display: grid;
  justify-items: center;
  align-items: center;

  grid-column-start: 1;
  transition: background 0.5s 0.5s linear;
}

.tasks__button-toggleDone:hover {
  background-color: rgb(68, 125, 68);
}

.tasks__button-remove {
  background-color: red;
  border-style: none;
  color: white;
  width: 30px;
  height: 30px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 3px;
  grid-column-start: 3;
  transition: background 1s 0.5s linear;
}

.tasks__button-remove:hover {
  background-color: rgb(237, 125, 125);
}



@media (max-width: 897px) {
  .tasks {
    grid-template-columns: 1fr;
  }
}
