html {
  box-sizing: border-box;
}

*,::after,
::before {
  box-sizing: inherit;
}

.main {
  background-color: #e8ebed;
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}
