
.section__headerButtons {
    align-items: center;    
    background-color: transparent;
    border: 0 transparent;
    color: teal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    transition: .5s;
}



/* .buttons__button {
    border: none;
    padding: 5px 5px;
   min-height: 30px;  
   margin: 5px 10px 5px 10px; 
    transition: color 0.5s 0.5s linear;
    background-color: transparent;
    color: teal;
    font-size:18px;
    
} */

.section__headerButtons:disabled{
    color:grey;
}


.section__headerButtons:hover {
    color: rgb(116, 186, 186);

}

@media (max-width: 767px){
.section__headerButtons {
    grid-gap: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    padding: 5px;
}};