.buttons {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 1fr auto;
  border-style: none;
}

.buttons__button {
  align-items: center;
  background-color: transparent;
  border: 0 transparent;
  color: teal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
  transition: 0.5s;
}

.buttons__button:disabled {
  color: grey;
}

.buttons__button:hover {
  color: rgb(116, 186, 186);
}

@media (max-width: 767px) {
  .buttons {
    grid-gap: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    padding: 5px;
  }
}
